/* Sign Up */

.my-card{
  margin: 20px 20%;
  padding : 20px
}
.my-card > h2 {
  text-align: center;
}
.submit{
  margin: 10px 43%;
}
.account{
  text-align: center;
}

/* NavBar */
.nav-wrapper{
  padding:0 20px;
}
/* About */
.my-card >h4 {
  text-align: center;
  font-weight: 500;
}
.my-card >p{
  text-align: center;
  font-weight: 400;
}
.phone-email{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}